@model SportsAnalyzer.Models.Statistics

@{
  ViewBag.Title = "Stats";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center mx-1 my-4">Statistics</h1>

<h2 class="text-center mb-3">Basic Statistics - All Season</h2>
<div class="row mx-1 mb-5 justify-content-center">
  <div class="table-responsive-lg w-100">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>
            @Html.DisplayNameFor(model => model.LeagueName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.SeasonYear)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.TeamName)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.MatchesNumber)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.GoalsSum)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.GoalsAvg)
          </th>
          <th>
            @Html.DisplayNameFor(model => model.GoalsAvgHome)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            @Html.DisplayFor(model => model.LeagueName)
          </td>
          <td>
            @Html.DisplayFor(model => model.SeasonYear)
          </td>
          <td>
            @Html.DisplayFor(model => model.TeamName)
          </td>
          <td>
            @Html.DisplayFor(model => model.MatchesNumber)
          </td>
          <td>
            @Html.DisplayFor(model => model.GoalsSum)
          </td>
          <td>
            @Html.DisplayFor(model => model.GoalsAvg)
          </td>
          <td>
            @Html.DisplayFor(model => model.GoalsAvgHome)/
            @Html.DisplayFor(model => model.GoalsAvgAway)
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row mx-1 mx-sm-0 mb-4 justify-content-center">

  <div class="col-8 col-sm-6 col-md-4 col-lg-3 col-form">
    <h4 class="text-center">
      Select team
    </h4>
    <hr class="hr-col" />
    <div class="row mx-1">
      @Html.LabelFor(model => model.TeamsSelectList,
        htmlAttributes: new { @class = "" })

      @Html.ListBoxFor(model => model.TeamItems,
        Model.TeamsSelectList, new { @class = "form-control", @id = "teamsList" })
    </div>
  </div>

  <div class="col-8 col-sm-5 col-md-4 col-lg-3 col-form">
    <h4 class="text-center">
      Select rounds
    </h4>
    <hr class="hr-col" />
    <div class="form-group">
      @Html.LabelFor(model => model.RoundsSelectList,
        htmlAttributes: new { @class = "" })

      @Html.ListBoxFor(model => model.RoundsNumbersInts,
        Model.RoundsSelectList, new { @class = "form-control", @id = "roundsList" })

      @Html.ValidationMessageFor(i => i.RoundsSelectList, "",
        new { @class = "text-warning" })
    </div>
    <input type="button" value="Chose rounds" class="btn btn-primary btn-block" id="changeRounds" />
  </div>
</div>

<h2 class="text-center mx-1 mb-3">Goals Statistics</h2>

<div id="goalsInIntervalsChartDiv" class="mb-3">
  <canvas id="goalsInIntervalsChartArea"></canvas>
</div>

<div id="matchGoalsChartDiv" class="mb-3">
  <canvas id="matchGoalsChartArea"></canvas>
</div>

<h2 class="text-center mx-1 mb-3">Standings Statistics</h2>

<div id="roundPointsChartDiv" class="mb-3">
  <canvas id="roundPointsChartArea"></canvas>
</div>
@{
  double[] GoalsInIntervalsPercent = Model.GoalsInIntervalsPercent;
  double[] TimeIntervalsLimits = Model.TimeIntervalsLimits;
  string[] TimeIntervalsTexts = new string[TimeIntervalsLimits.Count() - 1];

  for (int i = 0; i < TimeIntervalsTexts.Count(); i++)
  {
    TimeIntervalsTexts[i] = TimeIntervalsLimits[i].ToString() + "-" +
      TimeIntervalsLimits[i + 1].ToString();
  }
  var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
}

@section Scripts
{
  <script id="mainScript" src="~/Scripts/main.js"
          data-time-intervals-all-text='@serializer.Serialize(TimeIntervalsTexts)'
          data-goals-in-intervals-percent='@serializer.Serialize(GoalsInIntervalsPercent)'
          data-league-name='@serializer.Serialize(Model.LeagueName)'
          data-season-year='@serializer.Serialize(Model.SeasonYear)'
          data-match-goals='@serializer.Serialize(Model.MatchGoalsPct)'>
  </script>
}

